html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

table, tr{
  width: 100%; text-align: center;
}

th, td {
  padding: 10px;
  text-align: left;
  background-color: #f2f2f2; /* Default row background */
}

/* Style for the first cell in each row */
tr > *:first-child {
  position: relative;
  border-top-left-radius: 10px; /* Adjust the curve radius */
  border-bottom-left-radius: 10px;
  padding-left: 20px; /* Add some padding to accommodate the curve */
}

tr > *:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10px;
  background-color: inherit; /* Match the cell's background */
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

/* Style for the last cell in each row */
tr > *:last-child {
  position: relative;
  border-top-right-radius: 10px; /* Adjust the curve radius */
  border-bottom-right-radius: 10px;
  padding-right: 20px; /* Add some padding to accommodate the curve */
}

tr > *:last-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  background-color: inherit; /* Match the cell's background */
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

/* Optional: Alternate row background */
tr:nth-child(even) > * {
  background-color: #ddd;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}